<p id="notice"><%= notice %></p>

<p>
<!-- Referencia para libros-->
<% if @content.ref_type == 1 %>
	<% if @content.pub_place == nil %>
		<%= @content.author %> (<%= @content.pub_date %>). <i><%= @content.title1 %></i>. <%= @content.edition %>. <%= @content.pub_house %>
	<% else %>
		<%= @content.author %> (<%= @content.pub_date %>). <i><%= @content.title1 %></i>. <%= @content.edition %>. <%= @content.pub_place %>: <%= @content.pub_house %>
	<% end %>
<!-- Referencia para capítulos de libros-->
<% elsif @content.ref_type == 2 %>	
	<% if @content.pub_place == nil %>
		<%= @content.author %> (<%= @content.pub_date %>). <%= @content.title2 %>. <i><%= @content.title1 %></i>. (pp <%= @content.pages %>). <%= @content.edition %>. <%= @content.pub_house %>
	<% else %>
		<%= @content.author %> (<%= @content.pub_date %>). <%= @content.title2 %>. <i><%= @content.title1 %></i>. (pp <%= @content.pages %>). <%= @content.edition %>. <%= @content.pub_place %>: <%= @content.pub_house %>	
	<% end %>
<!-- Referencia para capítulos de tesis-->
<% elsif @content.ref_type == 3 %>	
	<%= @content.author %> (<%= @content.pub_date %>). <i><%= @content.title1 %></i>. <%= @content.title2 %>. <%= @content.pub_place %>
<!-- Referencia para artículos de revista y periódicos-->
<% elsif @content.ref_type == 4 || @content.ref_type == 5 || @content.ref_type == 6 %>	
	<% if @content.pub_place == nil  && @content.volume == nil && @content.journal_num == nil%>
		<%= @content.author %> (<%= @content.pub_date %>). <%= @content.title1 %>. <i><%= @content.title2 %></i>. (pp <%= @content.pages %>)
	<% elsif @content.pub_place != nil  && @content.volume != nil && @content.journal_num != nil%>
		<%= @content.author %> (<%= @content.pub_date %>). <%= @content.title1 %>. <i><%= @content.title2 %></i>. <%= @content.volume %>. <%= @content.journal_num %>.(pp <%= @content.pages %>). <%= @content.edition %>. <%= @content.pub_place %>: <%= @content.pub_house %>	
	<% elsif  @content.volume == nil %>
		<%= @content.author %> (<%= @content.pub_date %>). <%= @content.title1 %>. <i><%= @content.title2 %></i>. <%= @content.journal_num %>. (pp <%= @content.pages %>). <%= @content.edition %>. <%= @content.pub_place %>: <%= @content.pub_house %>
	<% elsif  @content.journal_num == nil %>
		<%= @content.author %> (<%= @content.pub_date %>). <%= @content.title1 %>. <i><%= @content.title2 %></i>. <%= @content.volume %>. (pp <%= @content.pages %>). <%= @content.edition %>. <%= @content.pub_place %>: <%= @content.pub_house %>
	<% else %>
		<%= @content.author %> (<%= @content.pub_date %>). <%= @content.title1 %>. <i><%= @content.title2 %></i>. <%= @content.volume %>. <%= @content.journal_num %>.(pp <%= @content.pages %>). <%= @content.edition %>. <%= @content.pub_house %>
	<% end %>			
<% else%>	
	<%= @content.author %> (<%= @content.pub_date %>). <i><%= @content.title1 %></i>. Recuperado el <%= @content.ref_date %>. <%= @content.website %>
<% end %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>